body
{
	background-color: #D2CCE8;
}

h2, h3, h4
{
	color: #991E78; /*commentaire*/
}

h1
{
    font-size: 40px; /* Titres de 40 pixels */
}
@font-face {
    font-family: 'satisfy-regular-webfont';
    src: url('satisfy-regular-webfont.eot') format('eot'),
         url('satisfy-regular-webfont.woff') format('woff'),
         url('satisfy-regular-webfont.ttf') format('truetype'),
         url('satisfy-regular-webfont.svg') format('svg');
}

h1, h2, h3, h4 /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'satisfy-regular-webfont', Arial, serif;
}

h2

{
	text-decoration: underline;
	text-align: center;
	border: 3px #991E78 outset;
}
h3
{
		color: #701E99;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: blue;
   font-style: italic;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: green;
}

.left
{
	text-align: left;
}

.centrer
{
	text-align: center;
}